name: Node CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
  runs-on: ubuntu-latest
- name: Checkout Code
  uses: actions/checkout@v4
- name: Setup Node
  uses: actions/setup-node@v4
  with:
    node-version: 18

